<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>index.html---学习Thymeleaf语法</h3>
<a href="tpl/expression1">标准变量表达式</a><br/>
<a href="tpl/expression2">选择变量表达式</a><br/>
<a href="tpl/link">链接表达式</a><br/>
<a href="tpl/property">模板属性</a><br/>
<a href="tpl/eachList">循环list</a><br/>
<a href="tpl/eachArray">循环Array</a><br/>
<a href="tpl/eachMap">循环Map</a><br/>
<!--    <a href="tpl/ifunless">判断语句if-unless</a><br/>-->
<a href="tpl/inline">内联inline</a><br/>
<a href="tpl/sym">运算符的使用</a><br/>
<a href="tpl/baseObject">内置对象</a><br/>
</body>
</html>