# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\360Downloads\springbootcourse\springboot-prj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
